.content-bank-container {
  padding-top: 0px;
}

.container-content {
  display: flex;
  flex-wrap: wrap;
}

.content-bank-container .title {
  font-size: 27px;
  font-weight: 700;
  padding-bottom: 14px;
  color: var(--color-dark-blue);
  font-family: "Roboto_Slab";
}

.content-bank-container .section {
  margin-top: 70px;
}

.content-bank-container .section h4 {
  font-size: 22px;
  font-weight: 700;
  color: var(--color-black);
  font-family: "Roboto_Slab";
}

.content-bank-container .section ul {
  list-style: disc !important;
  font-size: 19px;
  font-weight: 300;
  color: var(--color-black);
  font-family: "Roboto_Slab";
}

.content-bank-container .section li {
  list-style: disc !important;
}

@media (max-width: 768px) {
  .content-bank-container .title {
    font-size: 22px;
  }

  .content-bank-container .section h4 {
    font-size: 18px;
  }

  .content-bank-container .section li {
    font-size: 15px;
  }
  .content-bank-container .section {
    margin-top: 35px;
  }
}
.all-box {
    display: ruby;
}