
h3 {
    padding-bottom: 20px;
    padding-top: 20px;
}

h4 {
    padding-bottom: 10px;
    padding-top: 10px;
}

p {
    line-height: 1;
    color: #555;
    padding-bottom: 5px;
    padding-top: 5px;
}

li {
    list-style: none;
    padding-bottom: 5px;
    padding-top: 5px;
}