ul {
  list-style: circle;
  padding-left: 3rem;
}

.blog-btn {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

.blog-title {
  border-radius: 10px;
}

.blog-btn:hover {
  background-color: #20538a;
}
.main-container {
  background: url(/public/images/bg.webp) !important;
}
.btn1:hover {
  background: linear-gradient(94.6deg, #12a0e3 -2.74%, #034ea2 112.99%);
}
.btn-dark {
  background: linear-gradient(94.6deg, #12a0e3 -2.74%, #034ea2 112.99%);
  border: none !important;
}
.office-card-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 15px; /* smooth edges */
  height: 250px;
  cursor: pointer;
}

.office-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover !important;
  display: block;
  border-radius: 12px;
  transition: transform 0.5s ease;
}

/* Slight zoom effect on hover */
.office-card-wrapper:hover .office-card-image {
  transform: scale(1.1);
}

/* Overlay styling */
.office-card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background: rgba(0, 0, 0, 0.65); /* black with opacity */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transform: translateY(100%); /* hidden by default */
  transition: transform 0.5s ease;
}

/* Slide up on hover */
.office-card-wrapper:hover .office-card-overlay {
  transform: translateY(0);
}

/* Content inside overlay */
.office-card-content {
  color: #fff;
  padding: 20px;
  text-align: center;
}

.office-card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.office-card-address,
.office-card-phone {
  font-size: 0.9rem;
  margin: 0;
}
