ul {
  list-style: circle;
  padding-left: 3rem;
}

.blog-btn {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

.blog-title {
  border-radius: 10px;
}

.blog-btn:hover {
  background-color: #20538a;
}
.main-container {
  background: url(/public/images/bg.webp) !important;
}
.btn1:hover {
  background: linear-gradient(94.6deg, #12a0e3 -2.74%, #034ea2 112.99%);
}
.btn-dark {
  background: linear-gradient(94.6deg, #12a0e3 -2.74%, #034ea2 112.99%);
  border: none !important;
}
